<header>
  <HeaderPortfolio />
</header>
<main>
  <div class="container">
    <div class="contact">
      <h1>Vamos conversar ?</h1>

      <p>
        Abaixo deixo o cantato de algumas redes sociais minhas, fique a vontade para me chamar pra gente conversar!
      </p>

      <div class="links">
        <a
          href="https://www.linkedin.com/in/vander-reis-044163201/"
          target="_blank"
          ><font-awesome-icon icon="fa-brands fa-linkedin"
        /></a>

        <a href="https://github.com/Vander-Reis" target="_blank"
          ><font-awesome-icon icon="fa-brands fa-github"
        /></a>
        <a href="mailto:vanderreis2017@outlook.com"
          ><font-awesome-icon icon="fa-solid fa-envelope"
        /></a>
        <a href="https://www.instagram.com/vander.codes/" target="_blank"
          ><font-awesome-icon icon="fa-brands fa-instagram"
        /></a>
      </div>
    </div>
    <form>
      <label for="name">Nome</label>
      <input id="name" type="text" placeholder="Insira o seu nome">
      <label for="email">E-mail</label>
      <input id="email" type="text" placeholder="Insira o seu e-mail">
      <label for="mensage">Mensagem</label>
      <textarea id="mensage" placeholder="Deixe aqui sua mensagem"></textarea>
      <button>Enviar menssagem</button>
    </form>
  </div>
</main>

<footer>
  <h1>Vander Reis</h1>
</footer>
