main {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;  
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .links a {
    width: 30px;
    height: 30px;
    background: #252525;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links a:hover svg {
    color: #FFB800;
  }

  .links svg {
    width: 16px;
    height: 16px;
    color: white;
  }

  .profile {
    margin: auto;
    text-align: center;
  }

  .profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  .profile h1 {
    margin-top: 12px;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;

    color: #FFB800;
}

  .profile a {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 16px;
    color: #FFB800;
    transition: all .4s;
  }

  .profile a:hover {
    background: #FFB800;
    color: white;
  }

