<header>
    <HeaderPortfolio />
  </header>
  <main>  
    <div class="links">
      <a href="https://www.linkedin.com/in/vander-reis-044163201/" target="_blank"><font-awesome-icon icon="fa-brands fa-linkedin" /></a>
      
      <a href="https://github.com/Vander-Reis" target="_blank"><font-awesome-icon icon="fa-brands fa-github" /></a>
      <a href="mailto:vanderreis2017@outlook.com"><font-awesome-icon icon="fa-solid fa-envelope" /></a>
      <a href="https://www.instagram.com/vander.codes/" target="_blank"><font-awesome-icon icon="fa-brands fa-instagram" /></a>
    </div>

    <div class="profile">
      <img :src="profile" alt="">
      <h1>Vander Reis</h1>
      <p>Full stack web developer</p>
      <a :href="cv" download="">Baixar CV</a>
    </div>
</main>